@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: samarkan;
  src: url(assets/Font/SAMARN__.TTF);
}

:root {
  --primary-color: #fff;
  --secondary-color: #081158;
  --secondary-color-lite: #000;
  --primary-font: Montserrat, sans-serif;
  --secondary-font: Times New Roman;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  background-color: var(--primary-color);

}

a {
  text-decoration: none;
}

/*<-------------------------------------------------------------- This is main -------------------------------------------------------------->*/
#main {
  background-image: url(assets/svg/upar-poster.svg);
  background-position: top;
  background-size: cover;
  overflow: hidden;

}


/* <---------------------------------------------------This is nav ---------------------------------------------------> */
nav {
  height: 15vh;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;


}

nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 650;
  color: #11111191;
}

nav a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

#nav-right {
  display: flex;
  width: 60%;
  margin: 3vw 5vw;
  gap: 50px;
}

#nav-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1.5vw 0;
  color: var(--secondary-color);
  align-items: center;
}

#nav-left h3:nth-child(2) {
  font-size: .8rem;
}

.samarkan {
  font-family: samarkan;
}

.logo_text {
  font-size: 9vmin;
}

/*<-------------------------------------------------------- nav-mobile ------------------------------------------>*/
.nav-menu {
  display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #111;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#checkbox:checked+.toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked+.toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

/*<----------------------------------------------------- dropdown menu --------------------------------------->*/
.dropdown_menu {
  display: none;
  padding: 5px;
  border-radius: 12px;
  height: 265px;
  z-index: 555;
  position: absolute;
  right: 2rem;
  top: 70px;
  width: 300px;
  background-color: rgb(0 0 0 / 52%);
  backdrop-filter: blur(15px);
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu a {
  color: #fff;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown_menu.open {
  height: 240px;
}

/*<-------------------------------------------------------- buttons ------------------------------------------>*/

/*<-------------------------------------------------------- nav buttons ------------------------------------------>*/

#nav_button {
  padding: 2vh 5vh;
  align-self: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#nav_button:hover {
  background-color: #182588bd;
  box-shadow: #37419283;
  color: #fff;
  transform: translateY(-7px);
}

#nav_button:active {
  transform: translateY(-1px);
}


/*<-------------------------------------------------------- Tag's ---------------------------------------------------> */

.tag {
  font-family: var(--secondary-font);
  border: 1px solid #fef0d9;
  color: #FCC067;
  border-radius: 20px;
  padding: 0 1vh;
  background-color: #fef0d9;

}

.home_tag {
  margin: 4vh 0 0 8vmin;
  max-width: 75px;
}

.mission_tag {
  max-height: 18px;
  position: relative;
}


/*<-------------------------------------------------------- Home page---------------------------------------------------> */


#home {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50px;
}


#home-left {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

#home_right {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home_text {
  width: 100%;
  padding: 0 0 0 8vh;
}

#home_text1 {
  font-size: 60px;
  padding: 0 8vmin;
  color: var(--secondary-color);
}

#home_text2 {
  font-size: 15px;
  padding: 0 8vmin;
  align-self: center;
  font-weight: 300;
  text-align: justify;
  color: var(--secondary-color-lite);
}

/*<-------------------------------------------------------- form page-------------------------------------------------> */



#form_page {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}




.form {
  height: 60%;
  width: 55vw;
  gap: 10px;
  padding: 0px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.name {
  display: flex;
  width: 100%;
  gap: 9vh;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input+span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid+span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input01+span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown+span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus+span,
.form label .input01:valid+span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid+span {
  color: green;
}



#send_button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #0c1a8796 0%, #0c1a87b6 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

#send_button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

#send_button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#send_button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

#send_button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

#send_button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

#send_button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

#send_button:hover svg {
  transform: rotate(45deg);
}

textarea::placeholder {
  font-size: 1.4em;
}



/* <-----------------------------------------------------Foooter-----------------------------------------------> */
footer {
  width: 100%;
  height: 35vh;
  background-color: #fff;
  color: #111;
  padding: 10vw 0 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {

  max-width: 300px;
  padding: 0 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  text-align: justify;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #111;
  text-decoration: none;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile {
  background: #2a2b2f;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid #52382f;
}

.tooltip-container:hover .tooltip {
  top: -150px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.layer {
  position: relative;
  right: 27px;
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}

.icon:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.layer span {
  position: absolute;
  /* top: 0;
  left: 0; */
  right: 0;
  height: 100%;
  width: 55px;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: all 0.3s;
}

.layer span,
.text {
  color: #e6683c;
  border-color: #e6683c;
}

.icon:hover.layer span {
  box-shadow: -1px 1px 3px #e6683c;
}

.icon .text {
  position: absolute;
  /* left: 50%; */
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icon:hover .text {
  bottom: -35px;
  opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icon:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icon:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icon:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.icon:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.instagramSVG {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.user {
  display: flex;
  gap: 10px;
}

.img img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #e6683c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.name {
  font-size: 17px;
  font-weight: 700;
  color: #e6683c;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
}

.about {
  color: #ccc;
  padding-top: 5px;
}






/* <-----------------------------------------------------Responsive-----------------------------------------------> */
@media (max-width:600px) {

  #nav-left {
    margin: 5.5vw 0;
  }

  #home_buttons {
    flex-direction: column;
  }

  #home_text1 {
    font-size: 6vmax;
  }

  .name {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
  }

  .form {
    width: 80%;
  }



}

@media (max-width: 850px) {
  #home {
    flex-direction: column-reverse;
  }

  #home-left {
    width: 100%;
  }


  #home_right {
    width: 100%;
    height: 50%;
  }

  #logo {
    width: 85%;
  }

  #home_text {
    padding: 0;
  }

  #home_text2 {
    padding: 4vmin 6vmin;
}

  #home-right {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;

  }

  .layer {
    right: 0;
  }

  .icon .text {
    left: 50%;
  }


  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 55px;
    padding: 55px 0;
  }
}


@media (max-width: 1070px) {
  #nav-right {
    display: none;
  }

  .nav-menu {
    display: block;
    margin: 4vh;
  }



}

@media (max-width: 1177px) {


  .btn {
    display: flex;
    justify-content: center;
  }


}